[submodule "third-party/moose-events"]
	path = third-party/moose-events
	url = ../../../../moose/moose-events.git
[submodule "third-party/moose-worker"]
	path = third-party/moose-worker
	url = ../../../../moose/moose-events.git
[submodule "third-party/libquench-go"]
	url = ../../libquench-go.git
	path = third-party/libquench-go
[submodule "third-party/libvinis-go"]
	path = third-party/libvinis-go
	url = ../../libvinis-go.git
