# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
contrib/manual/*.[0-9]
*.txt

build

# Linux packages
*.deb

# Test binary, build with `go test -c`
*.test
*.log

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binary artifacts
bin
dist
linux

# Python
.venv
__pycache__

**/.vagrant/
**/.vagrant.d/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
contrib/manual/nordvpn.1
covdatafiles
coverage/unit

# Env files
.env
.pcap

# Snap files
parts
prime
stage
*.snap

# GUI has its own .gitignore
!gui/**
