[Unit]
Description=NordVPN Daemon Socket
BindsTo=nordvpnd.service

[Socket]
ListenStream=/run/nordvpn/nordvpnd.sock
SocketGroup=nordvpn
SocketMode=0660
DirectoryMode=0750
RemoveOnStop=true

[Install]
WantedBy=sockets.target
