[Unit]
Description=NordVPN Daemon Socket
PartOf=nordvpnd.service

[Socket]
ListenStream=/run/nordvpn/nordvpnd.sock
# SocketUser=root
SocketGroup=nordvpn
SocketMode=0770
DirectoryMode=0750

[Install]
WantedBy=sockets.target