[Unit]
Description=NordVPN Daemon
Requires=nordvpnd.socket
Wants=nordvpnd-killswitch.service
After=nordvpnd-killswitch.service network-online.target

[Service]
ExecStart=/usr/sbin/nordvpnd
NonBlocking=true
KillMode=process
Restart=always
RestartSec=5
# centos7 RuntimeDirectory ignored
RuntimeDirectory=nordvpn
RuntimeDirectoryMode=0750
Group=nordvpn
RuntimeDirectoryPreserve=yes

[Install]
WantedBy=default.target
