[Unit]
Description=NordVPN Fileshare Daemon
Requires=nordfileshared.socket
# allow the daemon to run only if it can access nordvpn deamon socket
ConditionPathExists=/run/nordvpn/nordvpnd.sock
# on Vagrant VM without this the daemon is not able to access /run/nordvpn/nordvpnd.sock
ConditionGroup=nordvpn

[Service]
ExecStart=/usr/bin/nordfileshared
NonBlocking=true
KillMode=process
# Never restart because it's possible that the user disabled nordvpnd and then this would keep on bootlooping
RuntimeDirectory=nordfileshared
RuntimeDirectoryMode=0700

[Install]
WantedBy=default.target