[Unit]
Description=NordVPN User Daemon
Requires=norduserd.socket

[Service]
ExecStart=/usr/bin/norduserd
NonBlocking=true
KillMode=process
# Never restart because it's possible that the user disabled nordvpnd and then this would keep on bootlooping
RuntimeDirectory=norduserd
RuntimeDirectoryMode=0700

[Install]
WantedBy=default.target