[Unit]
Description=NordVPN User Daemon Socket
PartOf=norduserd.service

[Socket]
# %t expands to /run or /run/user/{uid} 
ListenStream=%t/norduserd/norduserd.sock
NoDelay=true
SocketMode=0700
DirectoryMode=0700

[Install]
WantedBy=sockets.target